/* COLORS */
$orange: #e56b2f;
$orange-yellow: #dd8500;
$yellow: #ffb836;
$off-white: #f3f2eb;
$navy: #0a3a69;
$bright-blue: #2196f3;
$grey-blue: #5d7f99;
$grey-navy: #3e445a;
$dark-grey: #3d3d3d;
$med-grey: #aaaaaa;
$light-grey: #eeeeee;

/* BREAKPOINTS */
$phone-port: 414px; /* Max Width */
$phone-land: 812px; /* Max Width */
$tablet: 1024px; /* Max Width */
$desktop: 1025px; /* Min Width */